<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <h1>Landing Page!!!</h1>

    <p>Welcome to HealthColate+</p>
  </header>


  <li><a href="/mydata">View my data</a></li>
  <li><a href="/comparison">View all comparisons</a></li>
  <li><a href="/mydata/new">Enter new data</a></li>
  <li><a href="/myhistory">History</a></li>
</div>


<% include partials/footer %>
